    
    {% extends 'base/base.html' %}
    {% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% include 'base/navbar.html' %}
<style>
   .name{
      display: inline-block;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-decoration: none;
      color: #2d2d2d;
   }
    .custom-btn{
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        text-decoration: underline;
    }
    .custom-btn:hover{
        text-decoration: solid;

    }

</style>

   <main>
      <!--? Hero Start -->
      <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 text-center">
                              <h2>Project Details</h2>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--================Blog Area =================-->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        <img class="img-fluid" src="{{project.thumbnail.url}}" alt="">
                     </div>
                     <div class="blog_details">
                        <h2 style="color: #2d2d2d;">{{project.title}}</h2>
                        <p style="color: #2d2d2d; font-weight: bold;">{{project.sub_title}}</p>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-user"></i>{{project.category.name}}</a></li>
                           <li><a href="#"><i class="fa fa-comments"></i>{{project.group.group_name}}</a></li>
                        </ul>
                        <p class="excert">
                          {{project.body|safe}}
                        </p>
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                           people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                           <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                     </div>
                     
                  </div>
                  {% if has_reviewer %}
                        <form action="{% url 'projectDetails' %}" method="post" class="m-3">
                           {% csrf_token %}
                           {{Ratting_form.as_p}}
                           <button type="submit" class="text-success" 
                               name="action" value="approve">Approve</button>
                     
                       </form>
                  {% endif %}
               </div>
               <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                     <aside class="single_sidebar_widget post_category_widget">
                        
                        {% if has_supervisor %}
                        <form action="{% url 'projectAproval' %}" method="post" class="m-3">
                           {% csrf_token %}
                           <input type="hidden"  value="{{project.uid}}" name="uid">
                           <u><button type="submit" class="text-success p-1 custom-btn" 
                               name="action" value="approve">Approve</button></u>
                           <u><button type="submit" class="text-danger p-1 custom-btn" 
                               name="action" value="disapprove">Disapprove</button></u>
                       </form>
                        {% endif %}
                           
                        <h4 class="widget_title" style="color: #2d2d2d;">{{project.group.group_name}}</h4>
                        <ul class="list cat-list">
                              <li>
                                 <p class="name">{{project.group.lead_member_name}}</p>
                                 <small class="name" >{{project.group.lead_roll_no}}</small>
                                 <p class="name mt-3" >{{project.group.student2}}</p>
                                 <small class="name" >{{project.group.roll_no2}}</small>
                                 <p class="name mt-3" >{{project.group.student3}}</p>
                                 <small class="name" >{{project.group.roll_no3}}</small>
                                 <h5  class="name mt-4">{{project.group.department}}</h5>
                                 <h5  class="name mt-4">Smester = ({{project.group.smester}})</h5>
                                 <h3 class="mt-3"><u>University of Okara </u></h3>
                              </li>
                        </ul>
                     </aside>
                     <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Supervisor</h4>
                        
                        <ul class="list cat-list">
                           <li>
                              <p class="name"><b>{{project.supervisor.user.first_name}} </b></p>
                              <small class="name">({{project.supervisor.designation}})</small>
                              <small class="name" >{{project.supervisor.fieldOfStudy}}</small>
                              <h3 class="mt-3"><u>{{project.supervisor.institute}} </u></h3>
                           </li>
                        </ul>
                     </aside>
                   
                     <!-- <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                        <form action="#">
                           <div class="form-group">
                              <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                 onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                              type="submit">Subscribe</button>
                        </form>
                     </aside> -->

                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--================ Blog Area end =================-->
   </main>
     
{% endblock %}