{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% include 'base/navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-3 m-5">
            
            {% for project in projects %}
                <ul>
                    <li style="display: flex; justify-content: space-between;" class="border rounded p-3 m-3"><a href="" class="text-primary">{{project.title}}</a>
                    <div class="d-inline">
                        <u><a href="" class="text-success p-1" > Approve </a></u>
                        <u><a href="" class="text-danger p-1" > Disaprove </a></u>
                    </div>
                       
                    </li>
                </ul>
            {% endfor %}
                
        </div>
    </div>
</div>

{% endblock %}