<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div class="contianer p-5">
    <div class="row m-5">
        <div class="col-md-6 offset-3 border rounded p-5 shadow">
                {% include 'alerts/alert.html' %}
                <!-- <b><h4 class="text-primary">"{{item}}"</h4></b> -->
              

                <a href="{% url 'home' %}"  class="btn btn-success mt-5">Back to Home</a>
                <a href="{% url 'addProject' %}"  class="btn btn-info mt-5 mr-5">Submit Project</a>
                <a href="{% url 'studentPortal' request.user.username %}"  class="btn btn-dark mt-5">Profile</a>
              
        </div>
    </div>
</div>